body, html {
    height: 100%;
    
    background-image: url("../img/jungle-background-wallpaper-download-wallpapers-6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg { 
    background-image: url("../img/jumanji_gameboard.svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bodyDiv
 {
    height: 350px;
    width: 85%;
    background-color: grey;
    border-style: solid;
    border-width: 10px;
    color: white;
    border-color: #00602f;   

}


.bodyDiv2 {
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 10px;
        color: white;
        /*border-color: #00602f;*/ 
    border-color: black;
}

.skullJungleDiv {
    background-image: url("../img/skullJungle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
        

.jumbo {
    background-image: url("../img/pantheronlimb.jpg");
    background-size: 100%;
    color: white;
     z-index: 1;
}

.avatarDiv{

}

#whiteJumbo{
    color: white;

}

    .bodyDiv {
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 10px;
        color: white;
        border-color: #00602f;
        /*border-color: #00602f;*/ 
    border-color: black;
        overflow: scroll;
    }

    .chooseYourAvatarDiv {
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 10px;
        
        border-color: #00602f;
        
    }


    .avatarImages:hover {

        height: 110px;
        background-color: red;
    }

    .joinableGamesTable .bodyDiv {

        overflow: scroll;
        height:100%;
    }

    .gameNameDiv {
        height: 50%;
    }

    .whiteText {
        color: white;
    }

    #whiteJumanji{
        color:white;
    }

    .resumeTable{
        font-size: 25px;
        text-align: center;
    }

  #playerAmount{
    color:black;
  }

  #canvas-wrap {
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

#status {
    color: white;
}

#packMessage {
    color: white;
    font-size: 14px;
    background-color: grey; opacity: 0.8;
    
}

#pack {
    color: white;
    font-size: 20px;
}

#ropePic {
    height: 60px;
    padding-right: 10px;
}

#machetePic {
    height: 80px;
}

#torchPic {
    height: 100px;
}

.inventory {
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    padding-top: 40px;
}

#backpackPic {
    height: 150px;
}

#ropePic, #machetePic, #torchPic {
    padding-left: 5px;
}

#dice {
    height: 15%;
    position: absolute;
    top: 60%;
    left: 72%;
    border: 2px solid black;
}

#btnGreen {
    background-color: #00602f;
}

#diceBtn {
    background-color: grey;
    color: white;
    position: absolute;
    top: 75%;
    left: 75%;
}