body, html {
    font-family: 'Caesar Dressing', cursive;
    height: 100%;
    
    background-image: url("../img/jungle-background-wallpaper-download-wallpapers-6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: sans-serif;
}

.bg {
font-family: 'Caesar Dressing', cursive; 
    background-image: url("../img/jumanji_gameboard.svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bodyDiv
 {
    font-family: 'Caesar Dressing', cursive;
    height: 350px;
    width: 85%;
    background-color: grey;
    border-style: solid;
    border-width: 10px;
    color: white;
    border-color: #00602f;   

}


.bodyDiv2 {
    font-family: 'Caesar Dressing', cursive;
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 10px;
        color: white;
        /*border-color: #00602f;*/ 
    border-color: black;
}

.skullJungleDiv {
    font-family: 'Caesar Dressing', cursive;
    background-image: url("../img/skullJungle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
        

.jumbo {
    font-family: 'Caesar Dressing', cursive;
    background-image: url("../img/pantheronlimb.jpg");
    background-size: 100%;
    color: white;
     z-index: 1;
}

.avatarDiv{
    font-family: 'Caesar Dressing', cursive;

}

#whiteJumbo{
    font-family: 'Caesar Dressing', cursive;
    color: white;

}

    .bodyDiv {
        font-family: 'Caesar Dressing', cursive;
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 10px;
        color: white;
        border-color: #00602f;
        /*border-color: #00602f;*/ 
    border-color: black;
        overflow: scroll;
    }

    .chooseYourAvatarDiv {
        font-family: 'Caesar Dressing', cursive;
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 10px;
        
        border-color: #00602f;
        
    }


    .avatarImages:hover {
        font-family: 'Caesar Dressing', cursive;

        height: 110px;
        background-color: red;
    }

    .joinableGamesTable .bodyDiv {
        font-family: 'Caesar Dressing', cursive;

        overflow: scroll;
        height:100%;
    }

    .gameNameDiv {
        font-family: 'Caesar Dressing', cursive;
        height: 50%;
    }

    .whiteText {
        font-family: 'Caesar Dressing', cursive;
        color: white;
    }

    #whiteJumanji{
        font-family: 'Caesar Dressing', cursive;
        color:white;
    }

    .resumeTable{
        font-family: 'Caesar Dressing', cursive;
        font-size: 25px;
        text-align: center;
    }

  #playerAmount{
    font-family: 'Caesar Dressing', cursive;
    color:black;
  }

  #canvas-wrap {
    font-family: 'Caesar Dressing', cursive;
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

#status {
    font-family: 'Caesar Dressing', cursive;
    color: white;
}

#packMessage {
    font-family: 'Caesar Dressing', cursive;
    color: white;
    font-size: 14px;
    background-color: grey; opacity: 0.8;
    
}

#pack {
    font-family: 'Caesar Dressing', cursive;
    color: white;
    font-size: 20px;
}

#ropePic {
    font-family: 'Caesar Dressing', cursive;
    height: 60px;
    padding-right: 10px;
}

#machetePic {
    font-family: 'Caesar Dressing', cursive;
    height: 80px;
}

#torchPic {
    font-family: 'Caesar Dressing', cursive;
    height: 100px;
}

.inventory {
    font-family: 'Caesar Dressing', cursive;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    padding-top: 40px;
}

#backpackPic {
    font-family: 'Caesar Dressing', cursive;
    height: 150px;
}

#ropePic, #machetePic, #torchPic {
    font-family: 'Caesar Dressing', cursive;
    padding-left: 5px;
}

#dice {
    font-family: 'Caesar Dressing', cursive;
    height: 15%;
    position: absolute;
    top: 60%;
    left: 72%;
    border: 2px solid black;
}

#btnGreen {
    font-family: 'Caesar Dressing', cursive;
    background-color: #00602f;
}

#diceBtn {
    font-family: 'Caesar Dressing', cursive;
    background-color: grey;
    color: white;
    position: absolute;
    top: 75%;
    left: 75%;
}

.fixed{
    font-family: 'Caesar Dressing', cursive;
    color:black;
    width: 220px;
    margin: 10px;
    float: left;
}

#result {
    font-family: 'Caesar Dressing', cursive;
    width: 80px;
    height: 40px;
    border: 1px solid white;
    color: white;
}

.choice {
    padding: 5px;
    border: solid 1px #BBB;
    border-radius: 4px;
    margin: 5px;
    background-color: #DDD;
    font-family: sans-serif;
    cursor: pointer; 
    cursor: hand; 
}
