body, html {
    font-family: 'Caesar Dressing', cursive;
    height: 100%;
    
    background-image: url("../img/jungle-background-wallpaper-download-wallpapers-6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: sans-serif;
}

.bg {
font-family: 'Caesar Dressing', cursive; 
    background-image: url("../img/jumanji_gameboard.svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bodyDiv
 {
    font-family: 'Caesar Dressing', cursive;
    height: 350px;
    width: 85%;
    background-color: grey;
    border-style: solid;
    border-width: 10px;
    color: white;
    border-color: #0f1c05;  

}


.bodyDiv2 {
    font-family: 'Caesar Dressing', cursive;
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 5px;
        color: white;
        /*border-color: #00602f;*/ 
    border-color: #0f1c05;
}

.skullJungleDiv {
    font-family: 'Caesar Dressing', cursive;
    background-image: url("../img/skullJungle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: #0f1c05;
}

#submitBtn {
    background-color: #5c8843;
    border-color: #336600;
}

#openMod {
    background-color: #5c8843;
    border-color: #336600;
}

.modal-body {
    font-weight: bold;
}

#j {
    font-family: 'Caesar Dressing', cursive;
    font-size: 26px;
}

#beware {
    font-family: 'Caesar Dressing', cursive;
    color: red;
    font-size: 24px;
}

#part1 {
    font-family: 'Caesar Dressing', cursive;
    font-size: 22px;
}

#part2 {
    font-weight: bold;
    font-size: 14px;
    color: red;
}

#part3 {
    font-weight: bold;
    font-size: 16px;
}

#part4 {
    font-weight: bold;
    font-size: 14px;
    color: red;
}

#part5 {
    font-weight: bold;
    font-size: 16px;
}
        

.jumbo {
    font-family: 'Caesar Dressing', cursive;
    background-image: url("../img/pantheronlimb.jpg");
    background-size: 100%;
    color: white;
     z-index: 1;
}

#title {
    font-size: 100px;
    padding-left: 90px;
    color: #e5ffcc;
}

#createGame, #joinGame {
    background-color: #5c8843;
    border-color: #336600;
}

.avatarDiv {
    font-family: 'Caesar Dressing', cursive;

}

#whiteJumbo {
    font-family: 'Caesar Dressing', cursive;
    color: #e5ffcc;
    font-size: 100px;
    padding-left: 90px;
}

    .bodyDiv {
        font-family: 'Caesar Dressing', cursive;
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 5px;
        color: white;
        border-color: #0f1c05;
        overflow: auto;
    }

    .chooseYourAvatarDiv {
        font-family: 'Caesar Dressing', cursive;
        height: 355px;
        width: 85%;
        background-color: grey;
        border-style: solid;
        border-width: 5px;
        
        border-color: #0f1c05;
        
    }


    .avatarImages:hover {
        font-family: 'Caesar Dressing', cursive;

        height: 110px;
        background-color: red;
    }

    .joinableGamesTable .bodyDiv {
        font-family: 'Caesar Dressing', cursive;

        overflow: auto;
        height:100%;
    }

    .gameNameDiv {
        font-family: 'Caesar Dressing', cursive;
        height: 50%;
    }

    .whiteText {
        font-family: 'Caesar Dressing', cursive;
        color: white;
    }

    #whiteJumanji{
        font-family: 'Caesar Dressing', cursive;
        color: #e5ffcc;
        font-size: 100px;
        padding-left: 90px;
    }

    .resumeTable{
        font-family: 'Caesar Dressing', cursive;
        font-size: 25px;
        text-align: center;
    }

  #playerAmount{
    font-family: 'Caesar Dressing', cursive;
    color:black;
  }

  #canvas-wrap {
    font-family: 'Caesar Dressing', cursive;
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

#status {
    font-family: 'Caesar Dressing', cursive;
    color: white;
}

#packMessage {
    font-family: 'Caesar Dressing', cursive;
    color: white;
    font-size: 14px;
    background-color: #5c8843;; opacity: 0.8;
    
}

#pack {
    font-family: 'Caesar Dressing', cursive;
    color: white;
    font-size: 20px;
}

#ropePic {
    font-family: 'Caesar Dressing', cursive;
    height: 60px;
    padding-right: 10px;
}

#machetePic {
    font-family: 'Caesar Dressing', cursive;
    height: 80px;
}

#torchPic {
    font-family: 'Caesar Dressing', cursive;
    height: 100px;
}

.inventory {
    font-family: 'Caesar Dressing', cursive;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    padding-top: 40px;
}

#backpackPic {
    font-family: 'Caesar Dressing', cursive;
    height: 150px;
}

#ropePic, #machetePic, #torchPic {
    font-family: 'Caesar Dressing', cursive;
    padding-left: 5px;
}

#dice {
    font-family: 'Caesar Dressing', cursive;
    height: 15%;
    position: absolute;
    top: 60%;
    left: 72%;
    border: 2px solid #5c8843;
    border-radius: 5px;
}

#btnGreen {
    font-family: 'Caesar Dressing', cursive;
    background-color: #00602f;
}

#diceBtn {
    font-family: 'Caesar Dressing', cursive;
    /* background-color: grey;
    color: white; */
    background-color: #5c8843;
    border-color: #336600;
    color: white;
    position: absolute;
    top: 75%;
    left: 72%;
}

.fixed{
    font-family: 'Caesar Dressing', cursive;
    color:black;
    width: 220px;
    margin: 10px;
    float: left;
}

#result {
    font-family: 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    width: 80px;
    height: 30px;
    /* background-color: #5c8843;; opacity: 0.8; */
    /* border-color: #336600; */
    /* border: 1px solid #5c8843; */
    color: white;
    position: absolute;
    top: 75%;
    left: 78%;
}

.choice {
    padding: 5px;
    border: solid 1px #BBB;
    border-radius: 4px;
    margin: 5px;
    background-color: #DDD;
    font-family: sans-serif;
    cursor: pointer; 
    cursor: hand; 
}

#openMod {
    margin-left: 45%;
}

#playBtn {
    background-color: #5c8843;
    border-color: #336600;
    font-family: 'Caesar Dressing', cursive;
    position: absolute;
    top: 30%;
    left: 5%;
}

#homeBtn {
    background-color: #5c8843;
    border-color: #336600;
    font-family: 'Caesar Dressing', cursive;
    position: absolute;
    top: 20%;
    left: 5%;
}